@import "variables";
@import "components/photo-block";
@import "components/page-header";
@import "components/gallery-header";

.headline {
  padding: 0 1em;

  p {
    margin: 1em 0;
    font-family: serif;
    font-size: $font-size-2;
    font-style: italic;
  }
}

.photo-grid {
  line-height: 0;
  padding-bottom: 1em;
  padding-right: .5em;
  padding-left: .5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
}

@media (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

// @media (min-width: 1200px) {
//   .photo-grid {
//     grid-template-columns:  repeat(4, 1fr);
//   }
// }