@import "components/photo-block";
@import "components/page-header";

// Components
.gallery-header {
  .text {
    padding: 1em;
    color: whitesmoke;
  }

  h1 {
    border-bottom: solid gray 1px;
    font-weight: 100;
    margin: 0;
  }

  .details {
    padding-left: .5em;

    p {
      margin: 0;
      color: lightgray;
    }
  }
}

// Layout
.photo-grid {
  line-height: 0;
  padding-bottom: 1em;
  padding-top: .5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
}

@media (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

// @media (min-width: 1200px) {
//   .photo-grid {
//     grid-template-columns:  repeat(4, 1fr);
//   }
// }