@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "components/siteheader";

html, body {
  height: 100%;
}

.page-content {
  padding-top: 56px;
  height: 100%;
}

::selection {
  color: darkred;
  background-color: whitesmoke;
}

::-moz-selection {
  color: darkred;
  background-color: whitesmoke;
}