@import "variables";
@import "components/page-header";
@import "components/photo-block";

.photo-info {
  margin: .5rem;
}

a .photo-info {
  h2 {
    color: $body-color;
  }

  p {
    font-style: italic;
    color: rgba($body-color, .7);
  }
}

// a:hover,a:active .photo-info {
//   h2 {
//     color: $primary;
//   }

//   p {
//     color: rgba($primary, .7);
//   }
// }

@media (min-width: map-get($map: $grid-breakpoints, $key: 'lg')) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .album-tile {
    border-bottom: solid rgba($body-color, .5) 1px;
  }
}