@import "components/page-header";
@import "components/photo-block";

.photo-grid {
  line-height: 0;
  padding-bottom: 1em;
  padding-top: .5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
}

.tile {
  .text {
    text-align: center;
    padding: .5em .75em;
  }

  h2 {
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: 100;
    font-family: sans-serif;
    margin: 0;
  }
}

@media (min-width: 576px) {
  .tile {
    .text {
      text-align: left;
    }
  }
}

@media (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .photo-grid {
    grid-template-columns:  repeat(8, 1fr);
  }
}