@import "variables";
@import "./components/gallery-header";

.headline {
  padding: 0 1em;

  p {
    margin: 1em 0;
    font-family: serif;
    font-size: $font-size-2;
    font-style: italic;
  }
}

main {
  padding-top: 1em;
}

.content {
  p {
    font-family: serif;
    font-size: $font-size-2;
  }

  h2 {
    font-size: 25px;
    font-weight: 600;
  }

  img {
    width: 50%;
    float: right;
    margin: 1em;
  }
}